# Application
web/app/mu-plugins/*
web/app/plugins/*
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/
web/app/cache
web/app/db.php
web/wp

# WP-CLI
db-sync
sql-dump-*.sql
*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# Mac OS X
.DS_Store

# PHPStorm
.idea

# Testing
tmp

# Capistrano
log

# Bundle
.bundle

# Profiler
.prof
